<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue";

class Person {
    id: number;
    name: string;
    sname: string;
    gender: string;
    static lastId = 1;
    constructor(name: string, sname: string, gender: string) {
        this.id = Person.lastId++;
        this.name = name;
        this.sname = sname;
        this.gender = gender;
    }
}

const person = reactive<Person>({ id: -1, name: "", sname: "", gender: "" });
const msg = reactive({ name: "", sname: "", gender: "" });
const personList = ref<Person[]>([]);

const showForm = ref(false);

const checkName = function (name: string) {
    if (name.trim().length == 0) {
        msg.name = "Firstname is empty!!!";
        return false;
    }
    msg.name = "";
    return true;
};

const checkSurname = (sname: string) => {
    if (sname.trim().length == 0) {
        msg.sname = "Surname is empty!!!";
        return false;
    }
    msg.sname = "";
    return true;
}

function checkGender(gender: string) {
    if (gender.trim().length == 0) {
        msg.gender = "Gender is empty!!!";
        return false;
    }
    msg.gender = "";
    return true;
}

const clearForm = function () {
    person.name = "";
    person.sname = "";
    person.gender = "";
    person.id = -1;
    nextTick(() => {
        msg.name = "";
        msg.sname = "";
        msg.gender = "";
    });
}

watch(
    () => person.name,
    (name) => {
        checkName(name)
    }
);

watch(
    () => person.sname,
    (sname) => {
        checkSurname(sname);
    }
);

watch(
    () => person.gender,
    (gender) => {
        checkGender(gender);
    }
);

function doSubmit() {
    if (checkName(person.name) && checkSurname(person.sname) && checkGender(person.gender)) {
        if (person.id < 0) {
            const p = new Person(person.name, person.sname, person.gender);
            personList.value.push(p);
            console.log(personList.value);
        } else {
            const index = personList.value.findIndex((item) => item.id === person.id);
            personList.value[index].name = person.name;
            personList.value[index].sname = person.sname;
            personList.value[index].gender = person.gender;
        }
        clearForm();
        showForm.value = false;
    }
}

const doEdit = function (p: Person) {

    person.name = p.name;
    person.sname = p.sname;
    person.gender = p.gender;
    person.id = p.id;
    showForm.value = true;

}

const doDelete = function(p: Person) {
    const index = personList.value.findIndex((item) => item.id === person.id);
    personList.value.splice(index, 1);
}
</script>

<template>
    <div v-if="showForm" class="form">
        <form>
            <label for="name">Firstname</label>
            <input type="text" id="name" v-model="person.name" autocomplete="off">
            <span class="error">{{ msg.name }}</span>
            <label for="sname">Surname</label>
            <input type="text" id="sname" v-model="person.sname" autocomplete="off">
            <span class="error">{{ msg.sname }}</span>
            <label for="gender">Gender</label>
            <select id="gender" v-model="person.gender" autocomplete="off">
                <option hidden selected>Select Gender</option>
                <option value="M">Male</option>
                <option value="F">female</option>
            </select>
            <span class="error">{{ msg.gender }}</span>
            <input type="submit" value="Submit" @click.prevent="doSubmit">
        </form>
    </div>
    <div v-if="!showForm">
        <div style="width: 100%; text-align: right;">
            <button style="width: 100px;" @click="(showForm = !showForm)">Add</button>
        </div>
        <table id="person">
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Gender</th>
                <th style="width: 231px;">Operation</th>
            </tr>
            <tr v-for="(item, index) in personList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.sname }}</td>
                <td>{{ item.gender }}</td>
                <td><button style="width: 100px; background-color: goldenrod;"
                        @click="doEdit(item)">Edit</button><button
                        style="width: 100px; margin-left: 1em; background-color: crimson;" @click="doDelete(item)">Delete</button></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;" v-if="(personList.length === 0)">No Data</td>
            </tr>
        </table>
    </div>
</template>

<style scoped>
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.error {
    color: red;
    font-size: smaller;
    display: block;
}

#person {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#person td,
#person th {
    border: 1px solid #ddd;
    padding: 8px;
}

#person tr:nth-child(even) {
    background-color: #f2f2f2;
}

#person tr:hover {
    background-color: #ddd;
}

#person th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
</style>
